@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url(../fonts/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf);
}

/* h1{
font-size: 40px;
font-family:'Roboto-Bold',Georgia;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(229, 233, 233);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
header {
  background-color: #1f2937;
}

nav.top-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

a.logo {
  font-size: 24px;
  color: #f9faf8;
  font-family: "Roboto-Bold";
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.nav-link {
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 15px;
  font-family: "Roboto-Regular";
}
ul {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: #e5e7eb;
}
ul li a:hover {
  text-decoration: none;
  color: #a5a7ab;
}

.header-middle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  color: white;
  gap: 100px;
}
h1.title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 13px;
}

p.header-text {
  font-size: 18px;
  color: #e5e7eb;
  font-family: "Roboto-Regular";
  margin-bottom: 13px;
}
.left {
  width: 400px;
}

img.briyani-image {
  width: 600px;
  height: 340px;
  transition: width 0.5s, height 0.5s;
}
img.briyani-image:hover {
  opacity: 0.7;
  width: 620px;
  height: 360px;
  cursor: pointer;
}

.header-button {
  background-color: #3882f6;
  padding: 8px 20px;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
}
.header-button:hover {
  opacity: 0.8;
}

main {
  background-color: white;
  flex: 1;
}

/* about section */

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

@media only screen and (max-width: 912px){
  .about-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .section_s_flex{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
  }
  li{
    font-size: 70%;
  }
  .aboutus{
    margin-right: 20px;
    justify-content:normal !important;
  }
  .section{
    gap: 15px !important;
    width: 80% !important;
    height: 100% !important;
    padding: 2% !important ;
  }
  .section_c{
    gap: 15px !important;
    width: 80% !important;
    height: 100% !important;
    padding: 2% !important ;
  }
  .section_s{
    gap: 15px !important;
    width: 80% !important;
    height: 100% !important;
    padding: 2% !important ;
    margin-bottom: 30px;
  }
  footer{
    width: 100% !important;
  }
  header{
    width: 100% !important;
  }
  .section-image{
    height: 120px !important;
    width: 100px !important;
  }
}

.section {
  display: flex;
  width: 45%;
  padding: 0px 0px 0px 18px;
  background-color: #e5e7eb;
  right: 50px;
  height: 300px;
  gap: 40px;
  border-radius: 15px;
  align-items: center;
  margin-top: 70px;
}

.section_c {
  display: flex;
  width: 45%;
  padding: 0px 0px 0px 18px;
  background-color: #e5e7eb;
  left: 50px;
  height: 300px;
  border-radius: 15px;
  gap: 40px;
  align-items: center;
  margin-top: 70px;
}

.section_s_flex {
  display: flex;
  justify-content: center;
}

.section_s {
  display: flex;
  width: 45%;
  padding: 0px 0px 0px 18px;
  background-color: #e5e7eb;
  height: 300px;
  gap: 40px;
  align-items: center;
  border-radius: 15px;
  margin-top: 70px;
}

.section-image {
  border: 4px solid #3882f6;
  border-radius: 15px;
}

img.section-image {
  height: 250px;
  width: 200px;
}

.aboutus {
  color: black;
  font-size: 20px;
  font-family: 'Roboto-LightItalic';
  flex-wrap: wrap;
  justify-content: left;
  font-family: "Roboto-LightItalic";
}

.quote_parent {
  display: flex;
  padding-top: 20px;
}

.quote_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  background-color: #e5e7eb;
}

.quote {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-family: "Roboto-LightItalic", sans-serif;
  color: #1f2937;
  flex-direction: column;
}

.quote .author {
  text-align: right;
  font-weight: bold;
  font-size: 25px;
}

.signup_parent {
  display: flex;
  justify-content: center;
  padding: 60px;
  
}

.signup_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 800px;
  background-color: #3882f6;
  border-radius: 5px;
  gap: 10px;
}

.signup {
  justify-content: center;
  font-size: 18px;
  font-family: "Roboto-Thin", sans-serif;
  color: #f9faf8;
}

.signup h2 {
  justify-content: center;
  font-family: "Roboto-Regular", sans-serif;
  color: #f9faf8;
}

.signup_container button {
  font-size: 18px;
  font-family: "Roboto-Regular", sans-serif;
  color: #f9faf8;
  background-color: #3882f6;
  border: 1px solid #f9faf8;
  border-radius: 5px;
  height: 30px;
  position: relative;
  
  width: 100px;
}

footer {
  height: 40px;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto-Regular";
  width: 100%;
  bottom: 0;
  position: static;
}

.header_body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 36px;
  color: #1f2937;
}

.box_space {
  padding-top: 20px;
}

.box_parent {
  display: flex;
  justify-content: space-between;
  width: 1015px;
  margin: 0 auto;
}

.box_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  border: 4px solid #3882f6;
  margin: 0;
  background-size: cover;
  background-position: center;
}

.box_one {
  background-image: url("../images/duff-goldman.png");
}

.box_two {
  background-image: url("../images/elena-arzak.png");
}

.box_three {
  background-image: url("../images/gordon_ramsay.png");
}

.box_four {
  background-image: url("../images/guy-fieri.png");
}

.box_description {
  margin: 0;
  text-align: center;
  color: black;
}

.box_title {
  margin: 0;
  margin-top: 10px;
  color: black;
}

/* recipe section */

.lasagna_parent {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
  padding-top: 15px;
  padding-bottom: 15px;
}

.lasagna_container {
  display: flex;
  width: 65%;
  left: 0;
  height: 350px;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.carbonara_parent {
  display: flex;
  justify-content: center;
  background-color: #e5e7eb;
}

.carbonara_container {
  display: flex;
  width: 65%;
  left: 0;
  height: 350px;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.recipes_img {
  width: 440px;
  height: 350px;
}

.recipe {
  color: black;
  font-size: 20px;
  font-family: "Roboto-LightItalic";
}

@media screen and (max-width: 1250px) {
  .lasagna_container {
    width: 80%;
  }

  .lasagna_container .recipes_img {
    width: auto;
    height: 250px;
  }

  .lasagna_container .recipe {
    font-size: inherit;
  }

  .carbonara_container {
    width: 80%;
    gap: 30px;
  }

  .carbonara_container .recipes_img {
    width: auto;
    height: 250px;
  }

  .carbonara_container .recipe {
    font-size: inherit;
  }
}

@media screen and (max-width: 900px) {
  .lasagna_container {
    flex-direction: column;
    width: 100%;
  }

  .lasagna_container .recipes_img {
    width: auto;
    height: 170px;
  }

  .lasagna_container .recipe {
    font-size: inherit;
  }

  .carbonara_container {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .carbonara_container .recipes_img {
    width: auto;
    height: 170px;
  }

  .carbonara_container .recipe {
    font-size: inherit;
  }
}

@media screen and (max-width: 450px) {
  .lasagna_container {
    flex-direction: column;
    width: 100%;
    gap: 10px;
  }

  .lasagna_container .recipes_img {
    width: auto;
    height: 140px;
  }

  .lasagna_container .recipe {
    font-size: inherit;
  }

  .carbonara_container {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    position: relative;
    top: 10px;
  }

  .carbonara_container .recipes_img {
    width: auto;
    height: 120px;
  }

  .carbonara_container .recipe {
    font-size: inherit;
  }
}

@media only screen and (max-width: 770px) {
  .header-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header-image {
    width: 400px;
  }
  img.briyani-image {
    height: auto;
    width: 100%;
    transition: none;
  }
  img.briyani-image:hover {
    opacity: 0.7;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  .header_body {
    text-align: center;
    font-size: 20px;
  }
  .box_parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  .quote_container {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .quote {
    font-size: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    
  }
  .signup_parent {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
  }
  .signup {
    margin-bottom: 10px;
  }
  .signup_container {
    display: flex;
    width: auto;
    height: auto;
    padding: 20px;
    flex-direction: column;
  }
  .signup_container button {
    
    height: auto;
    
    
   
  }
}

@media only screen and (max-width: 425px) {
  a.logo{
    font-size: 15px;
  }
  nav.top-nav{
    padding: 28px;
    display: flex;
    
    justify-content: space-evenly;
  }
  .nav-link{
    font-size: 15px;
  }
  .header-middle{
   
    padding-left: 15px;
  }
  h1.title{
    font-size: 20px;
  }
  p.header-text{
    font-size: 10px;
    
  }
  .header-button{
    width: 90px;
  }
  .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 38px;
  }
  .quote {
    font-size: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.header-image{
  width: auto;
}

}
@media only screen and (max-width: 375px) {
  a.logo{
    font-size: 15px;
  }
  nav.top-nav{
    padding: 28px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
  }
  .nav-link{
    font-size: 15px;
  }
  .header-middle{
    padding: 15px;
    padding-left: 15px;
  }
  h1.title{
    font-size: 15px;
  }
  p.header-text{
    font-size: 10px;
    
  }
  .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 15px 0 25px;
    
  }

}
@media only screen and (max-width: 320px) {
  a.logo{
    font-size: 15px;
  }
  nav.top-nav{
    padding: 28px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
  }
  .nav-link{
    font-size: 15px;
  }
  .header-middle{
    padding: 15px;
    padding-left: 15px;
  }
  h1.title{
    font-size: 16px;
  }
  p.header-text{
    font-size: 10px;
    
  }
  .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
  }
  .header-image{
    width: auto;
  }

}

.reviews {
  color: black;
  display: flex;
}

.review_box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.review_colomn {
  background-color: #e5e7eb;
  border-radius: 15px;
  width: 60%;
  padding: 20px;
}

.review_image {
  display: flex;
  justify-content: left;
  align-items: center;
}

img.image_rev{
  width: 250px;
  height: 200px;
  border-radius: 100%;
  border:4px solid #1F2937;
}
}

.review_content {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 10px;
}

.review_body {
  display: flex;
  justify-content: left;
  flex-direction: column;
  padding-left: 10px;
}

.review_author {
  justify-content: center;
  font-size: 23px;
  font-family: "Roboto-LightItalic", sans-serif;
  color: black;
  margin-top: 10px;
}

  .review_quote{
    justify-content: center;
    font-size: 20px;
    font-family: "Roboto-LightItalic", sans-serif;
    color: black;
    text-align: justify;
  }
.review_quote {
  justify-content: center;
  font-size: 20px;
  font-family: "Roboto-LightItalic", sans-serif;
  color: blacke;
  text-align: justify;
}

.review_title {
  justify-content: center;
  font-size: 36px;
  font-family: "Roboto-LightItalic", sans-serif;
  color: black;
  margin-bottom: 20px;
}

.review_quote .review_author {
  text-align: right;
  font-weight: bold;
}

.headers_titles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 36px;
  color: #1f2937;
  margin-bottom: 20px;
}

.review-image {
  border: 4px solid #1f2937;
  border-radius: 100%;
}

  .recipes-image{
    border:4px solid #1F2937;
    border-radius: 15px;
  }

  .star_rating {
    width: 250px;
    height: 50px;
  }

  @media screen and (max-width: 1250px) {
    .review_box {
      width: 100%;
      height: auto;
      justify-content: center;
    }

    .review_colomn {
      width: 70%;
      height: auto;
    }

    img.image_rev{
      align-items: center;
      width: 200px;
      height: 200px;
    }
  
    .review_content {
      padding-left: 10px;
    }
    
    .review_body {
      padding-left: 10px;
    }
  
    .review_author{
      font-size: 19px;
      margin-top: 8px;
    }
  
    .review_quote{
      font-size: 16px;
    }
  
    .review_title{
      font-size: 30px;
      margin-bottom: 15px;
    }
  
    .headers_titles{
      font-size: 30px;
      margin-bottom: 15px;
    }
  }

  @media screen and (max-width: 700px) {
    .review_box {
      width: 100%;
      height: auto;
      justify-content: center;
    }

    .review_colomn {
      width: 50%;
      height: auto;
    }

    img.image_rev{
      align-items: center;
      width: 120px;
      height: 120px;
    }
  
    .review_content {
      width: 60%;
    }
    
    .review_body {
      padding-left: 10px;
    }
  
    .review_author{
      font-size: 16px;
      margin-top: 8px;
    }
  
    .review_quote{
      font-size: 13px;
    }
  
    .review_title{
      font-size: 25px;
      margin-bottom: 15px;
    }
  
    .headers_titles{
      font-size: 25px;
      margin-bottom: 15px;
    }

    .star_rating{
      width: 125px;
      height: auto;
    }
  }

  @media screen and (max-width: 560px) {
    .review_box {
      width: 100%;
      height: auto;
      padding: 20px;
      justify-content: center;
      margin-bottom: 20px;
    }

    .review_colomn {
      width: 100%;
      height: auto;
    }

    img.image_rev{
      align-items: center;
      width: 120px;
      height: 120px;
    }
  
    .review_content {
      width: 60%;
    }
    
    .review_body {
      padding-left: 10px;
    }
  
    .review_author{
      font-size: 16px;
      margin-top: 8px;
    }
  
    .review_quote{
      font-size: 13px;
    }
  
    .review_title{
      font-size: 25px;
      margin-bottom: 15px;
    }
  
    .headers_titles{
      font-size: 25px;
      margin-bottom: 15px;
    }

    .star_rating{
      width: 125px;
      height: auto;
    }
  }
.recipes-image {
  border: 4px solid #1f2937;
  border-radius: 15px;
}
