
@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url(../fonts/Roboto-LightItalic.ttf);
}


h1{
color: rgb(17, 74, 74);
font-size: 40px;
font-family:'Roboto-LightItalic',Georgia, Times, serif;
}

h2{
color: rgb(125, 27, 27);
font-size: 35px;
font-family: 'Roboto-Bold';
}
h3{
  font-family:'Roboto-Black';
  font-size: 40px;
}